# Проигнорируйте файлы, находящиеся в подкаталоге tmp 
# относительно всего проекта
/tmp/

#файлы, заканчивающиеся суффиксами _old
*_old

#файлы, заканчивающиеся суффиксами _backup
*_backup

#проигнорированы файлы Thumbs.db и .DS_Store
Thumbs.db
.DS_Store
